# Data files
*.tsv
*.csv
*.pkl
*.h5
*.gz
*.log
*.edgelist
*.gpickle
*.npy
**/4932.*
*.png
*.fasta
*.gaf

experiments/
processed_data/*
!processed_data/.gitkeep
raw_data/*
!raw_data/.gitkeep

# Model checkpoints
*.pt
*.pth


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.venv/